<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [21]:
%pip install "sqlalchemy>=1.4.46"
%pip install ipython-sql
%pip install pandas

Collecting sqlalchemy==1.4
  Using cached sqlalchemy-1.4.0-cp310-cp310-win_amd64.whl
Requirement already satisfied: greenlet!=0.4.17 in c:\users\casper\anaconda3\lib\site-packages (from sqlalchemy==1.4) (3.0.1)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-1.4.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of matplotlib: [Errno 2] No such file or directory: 'c:\\users\\casper\\anaconda3\\lib\\site-packages\\matplotlib-3.8.4.dist-info\\METADATA'
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.0 which is incompatible.

Requirement already satisfied: ipython-sql in c:\users\casper\anaconda3\lib\site-packages (0.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: prettytable in c:\users\casper\anaconda3\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython-sql) (8.14.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached sqlalchemy-2.0.43-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\casper\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\casper\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\casper\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\casper\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\casper\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: backcall in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.19.0)
Requirement already satisfied: matplotlib-inline in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\casper\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\casper\appdata\roaming\python\python310\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\casper\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\casper\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\casper\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\casper\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached sqlalchemy-2.0.43-cp310-cp310-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.0
    Uninstalling SQLAlchemy-1.4.0:
      Successfully uninstalled SQLAlchemy-1.4.0
Successfully installed sqlalchemy-2.0.43

WARNING: Error parsing dependencies of matplotlib: [Errno 2] No such file or directory: 'c:\\users\\casper\\anaconda3\\lib\\site-packages\\matplotlib-3.8.4.dist-info\\METADATA'

Requirement already satisfied: pandas in c:\users\casper\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\casper\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\casper\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\casper\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\casper\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\users\casper\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of matplotlib: [Errno 2] No such file or directory: 'c:\\users\\casper\\anaconda3\\lib\\site-packages\\matplotlib-3.8.4.dist-info\\METADATA'

In [22]:
# This cell intentionally left blank to avoid downgrading SQLAlchemy.

Collecting sqlalchemy==1.3.9Note: you may need to restart the kernel to use updated packages.

  Using cached sqlalchemy-1.3.9-cp310-cp310-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.43
    Uninstalling SQLAlchemy-2.0.43:
      Successfully uninstalled SQLAlchemy-2.0.43
Successfully installed sqlalchemy-1.3.9

WARNING: Error parsing dependencies of matplotlib: [Errno 2] No such file or directory: 'c:\\users\\casper\\anaconda3\\lib\\site-packages\\matplotlib-3.8.4.dist-info\\METADATA'
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [59]:
%pip install "sqlalchemy>=1.4.46"

Requirement already satisfied: sqlalchemy>=1.4.46 in c:\users\casper\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\casper\anaconda3\lib\site-packages (from sqlalchemy>=1.4.46) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\casper\anaconda3\lib\site-packages (from sqlalchemy>=1.4.46) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of matplotlib: [Errno 2] No such file or directory: 'c:\\users\\casper\\anaconda3\\lib\\site-packages\\matplotlib-3.8.4.dist-info\\METADATA'

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [60]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [61]:
%reload_ext sql

In [62]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [63]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [64]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///my_data1.db")
conn = engine.connect()

In [65]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", engine, if_exists="replace", index=False, method="multi")

101

In [66]:
%sql sqlite:///my_data1.db

**Note:This below code is added to remove blank rows from table**

In [83]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [68]:
import prettytable
[name for name in dir(prettytable) if name.isupper()]

['DEFAULT',
 'FRAME',
 'HEADER',
 'MARKDOWN',
 'MSWORD_FRIENDLY',
 'NONE',
 'PLAIN_COLUMNS',
 '_DEPRECATED_ALL',
 '_DEPRECATED_DEFAULT',
 '_DEPRECATED_DOUBLE_BORDER',
 '_DEPRECATED_FRAME',
 '_DEPRECATED_HEADER',
 '_DEPRECATED_MARKDOWN',
 '_DEPRECATED_MSWORD_FRIENDLY',
 '_DEPRECATED_NONE',
 '_DEPRECATED_ORGMODE',
 '_DEPRECATED_PLAIN_COLUMNS',
 '_DEPRECATED_RANDOM',
 '_DEPRECATED_SINGLE_BORDER']

In [69]:

for name in ["DEFAULT", "PLAIN_COLUMNS", "HEADER", "FRAME",
             "ASCII", "MARKDOWN", "NONE", "MSWORD_FRIENDLY"]:
    deprecated = f"_DEPRECATED_{name}"
    if deprecated in prettytable.__dict__:
        prettytable.__dict__[name] = prettytable.__dict__[deprecated]

In [70]:
%config SqlMagic.style = 'PLAIN_COLUMNS'  
result = %sql SELECT DISTINCT LAUNCH_SITE AS "Launch_Sites" FROM SPACEXTBL;
result

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [71]:
%sql SELECT * FROM 'SPACEXTBL' WHERE Launch_Site LIKE 'KSC%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2017-03-16', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt'),
 ('2017-03-30', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 ('2017-05-01', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)'),
 ('2017-05-15', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [72]:
%sql SELECT SUM(PAYLOAD_MASS__KG_), Customer FROM 'SPACEXTBL' WHERE Customer = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596, 'NASA (CRS)')]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [73]:
%sql SELECT AVG(PAYLOAD_MASS__KG_), Customer, Booster_Version FROM 'SPACEXTBL' WHERE Booster_Version LIKE 'F9 v1.1%';

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665, 'MDA', 'F9 v1.1  B1003')]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [74]:
%sql SELECT MIN(DATE) FROM 'SPACEXTBL' WHERE "Landing_Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [75]:
# %sql SELECT * FROM 'SPACEXTBL'

In [76]:
%sql SELECT DISTINCT Booster_Version, Payload FROM SPACEXTBL WHERE "Landing_Outcome" = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 'JCSAT-14'),
 ('F9 FT B1026', 'JCSAT-16'),
 ('F9 FT  B1021.2', 'SES-10'),
 ('F9 FT  B1031.2', 'SES-11 / EchoStar 105')]

### Task 7




##### List the total number of successful and failure mission outcomes

In [77]:
%sql SELECT "Mission_Outcome", COUNT("Mission_Outcome") as Total FROM SPACEXTBL GROUP BY "Mission_Outcome";

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [78]:
%sql SELECT "Booster_Version",Payload, "PAYLOAD_MASS__KG_" FROM SPACEXTBL WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 'Starlink 1 v1.0, SpaceX CRS-19 ', 15600),
 ('F9 B5 B1049.4', 'Starlink 2 v1.0, Crew Dragon in-flight abort test ', 15600),
 ('F9 B5 B1051.3', 'Starlink 3 v1.0, Starlink 4 v1.0 ', 15600),
 ('F9 B5 B1056.4', 'Starlink 4 v1.0, SpaceX CRS-20', 15600),
 ('F9 B5 B1048.5', 'Starlink 5 v1.0, Starlink 6 v1.0 ', 15600),
 ('F9 B5 B1051.4', 'Starlink 6 v1.0, Crew Dragon Demo-2 ', 15600),
 ('F9 B5 B1049.5', 'Starlink 7 v1.0, Starlink 8 v1.0', 15600),
 ('F9 B5 B1060.2 ', 'Starlink 11 v1.0, Starlink 12 v1.0 ', 15600),
 ('F9 B5 B1058.3 ', 'Starlink 12 v1.0, Starlink 13 v1.0 ', 15600),
 ('F9 B5 B1051.6', 'Starlink 13 v1.0, Starlink 14 v1.0 ', 15600),
 ('F9 B5 B1060.3', 'Starlink 14 v1.0, GPS III-04  ', 15600),
 ('F9 B5 B1049.7 ', 'Starlink 15 v1.0, SpaceX CRS-21', 15600)]

In [79]:
%sql SELECT Booster_Version,Payload, "PAYLOAD_MASS__KG_", "Landing_Outcome" FROM SPACEXTBL WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 'Starlink 1 v1.0, SpaceX CRS-19 ', 15600, 'Success'),
 ('F9 B5 B1049.4', 'Starlink 2 v1.0, Crew Dragon in-flight abort test ', 15600, 'Success'),
 ('F9 B5 B1051.3', 'Starlink 3 v1.0, Starlink 4 v1.0 ', 15600, 'Success'),
 ('F9 B5 B1056.4', 'Starlink 4 v1.0, SpaceX CRS-20', 15600, 'Failure'),
 ('F9 B5 B1048.5', 'Starlink 5 v1.0, Starlink 6 v1.0 ', 15600, 'Failure'),
 ('F9 B5 B1051.4', 'Starlink 6 v1.0, Crew Dragon Demo-2 ', 15600, 'Success'),
 ('F9 B5 B1049.5', 'Starlink 7 v1.0, Starlink 8 v1.0', 15600, 'Success'),
 ('F9 B5 B1060.2 ', 'Starlink 11 v1.0, Starlink 12 v1.0 ', 15600, 'Success'),
 ('F9 B5 B1058.3 ', 'Starlink 12 v1.0, Starlink 13 v1.0 ', 15600, 'Success'),
 ('F9 B5 B1051.6', 'Starlink 13 v1.0, Starlink 14 v1.0 ', 15600, 'Success'),
 ('F9 B5 B1060.3', 'Starlink 14 v1.0, GPS III-04  ', 15600, 'Success'),
 ('F9 B5 B1049.7 ', 'Starlink 15 v1.0, SpaceX CRS-21', 15600, 'Success')]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [84]:
%sql SELECT DISTINCT Landing_Outcome FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [92]:
%sql SELECT Date,Booster_Version, Launch_Site, Payload, PAYLOAD_MASS__KG_, Mission_Outcome, Landing_Outcome FROM SPACEXTBL WHERE substr(Date,0,5)='2017';

 * sqlite:///my_data1.db
Done.

[('2017-01-14', 'F9 FT B1029.1', 'VAFB SLC-4E', 'Iridium NEXT 1', 9600, 'Success', 'Success (drone ship)'),
 ('2017-02-19', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'Success', 'Success (ground pad)'),
 ('2017-03-16', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'Success', 'No attempt'),
 ('2017-03-30', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'Success', 'Success (drone ship)'),
 ('2017-05-01', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'Success', 'Success (ground pad)'),
 ('2017-05-15', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'Success', 'No attempt'),
 ('2017-06-03', 'F9 FT B1035.1', 'KSC LC-39A', 'SpaceX CRS-11', 2708, 'Success', 'Success (ground pad)'),
 ('2017-06-23', 'F9 FT  B1029.2', 'KSC LC-39A', 'BulgariaSat-1', 3669, 'Success', 'Success (drone ship)'),
 ('2017-06-25', 'F9 FT B1036.1', 'VAFB SLC-4E', 'Iridium NEXT 2', 9600, 'Success', 'Success (drone ship)'),
 ('2017-07-05', 'F9 FT B1037', 'KSC LC-39A', 'Intelsat 35e', 6761, 'Success', 'No attempt'),
 ('2017-08-14', 'F9 B4 B1039.1', 'KSC LC-39A', 'SpaceX CRS-12', 3310, 'Success', 'Success (ground pad)'),
 ('2017-08-24', 'F9 FT B1038.1', 'VAFB SLC-4E', 'Formosat-5', 475, 'Success', 'Success (drone ship)'),
 ('2017-09-07', 'F9 B4 B1040.1', 'KSC LC-39A', 'Boeing X-37B OTV-5', 4990, 'Success', 'Success (ground pad)'),
 ('2017-10-09', 'F9 B4 B1041.1', 'VAFB SLC-4E', 'Iridium NEXT 3', 9600, 'Success', 'Success (drone ship)'),
 ('2017-10-11', 'F9 FT  B1031.2', 'KSC LC-39A', 'SES-11 / EchoStar 105', 5200, 'Success', 'Success (drone ship)'),
 ('2017-10-30', 'F9 B4 B1042.1', 'KSC LC-39A', 'Koreasat 5A', 3500, 'Success', 'Success (drone ship)'),
 ('2017-12-15', 'F9 FT  B1035.2', 'CCAFS SLC-40', 'SpaceX CRS-13', 2205, 'Success', 'Success (ground pad)'),
 ('2017-12-23', 'F9 FT  B1036.2', 'VAFB SLC-4E', 'Iridium NEXT 4', 9600, 'Success', 'Controlled (ocean)')]

In [95]:
%sql SELECT substr(Date,6,2), substr(Date,9,2), Booster_Version, Launch_Site, Payload, PAYLOAD_MASS__KG_, Mission_Outcome, Landing_Outcome FROM SPACEXTBL WHERE substr(Date,0,5)='2017';

 * sqlite:///my_data1.db
Done.

[('01', '14', 'F9 FT B1029.1', 'VAFB SLC-4E', 'Iridium NEXT 1', 9600, 'Success', 'Success (drone ship)'),
 ('02', '19', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'Success', 'Success (ground pad)'),
 ('03', '16', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'Success', 'No attempt'),
 ('03', '30', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'Success', 'Success (drone ship)'),
 ('05', '01', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'Success', 'Success (ground pad)'),
 ('05', '15', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'Success', 'No attempt'),
 ('06', '03', 'F9 FT B1035.1', 'KSC LC-39A', 'SpaceX CRS-11', 2708, 'Success', 'Success (ground pad)'),
 ('06', '23', 'F9 FT  B1029.2', 'KSC LC-39A', 'BulgariaSat-1', 3669, 'Success', 'Success (drone ship)'),
 ('06', '25', 'F9 FT B1036.1', 'VAFB SLC-4E', 'Iridium NEXT 2', 9600, 'Success', 'Success (drone ship)'),
 ('07', '05', 'F9 FT B1037', 'KSC LC-39A', 'Intelsat 35e', 6761, 'Success', 'No attempt'),
 ('08', '14', 'F9 B4 B1039.1', 'KSC LC-39A', 'SpaceX CRS-12', 3310, 'Success', 'Success (ground pad)'),
 ('08', '24', 'F9 FT B1038.1', 'VAFB SLC-4E', 'Formosat-5', 475, 'Success', 'Success (drone ship)'),
 ('09', '07', 'F9 B4 B1040.1', 'KSC LC-39A', 'Boeing X-37B OTV-5', 4990, 'Success', 'Success (ground pad)'),
 ('10', '09', 'F9 B4 B1041.1', 'VAFB SLC-4E', 'Iridium NEXT 3', 9600, 'Success', 'Success (drone ship)'),
 ('10', '11', 'F9 FT  B1031.2', 'KSC LC-39A', 'SES-11 / EchoStar 105', 5200, 'Success', 'Success (drone ship)'),
 ('10', '30', 'F9 B4 B1042.1', 'KSC LC-39A', 'Koreasat 5A', 3500, 'Success', 'Success (drone ship)'),
 ('12', '15', 'F9 FT  B1035.2', 'CCAFS SLC-40', 'SpaceX CRS-13', 2205, 'Success', 'Success (ground pad)'),
 ('12', '23', 'F9 FT  B1036.2', 'VAFB SLC-4E', 'Iridium NEXT 4', 9600, 'Success', 'Controlled (ocean)')]

In [ ]:
%sql SELECT CASE substr(Date,6,2) WHEN '01' THEN 'January' WHEN '02' THEN 'February' WHEN '03' THEN 'March' WHEN '04' THEN 'April' WHEN '05' THEN 'May' WHEN '06' THEN 'June' WHEN '07' THEN 'July' WHEN '08' THEN 'August' WHEN '09' THEN 'September' WHEN '10' THEN 'October' WHEN '11' THEN 'November' WHEN '12' THEN 'December' END AS Month_Name, Booster_Version, Launch_Site, Landing_Outcome FROM SPACEXTBL WHERE substr(Date,0,5)='2017' AND Landing_Outcome='Success (ground pad)' ORDER BY substr(Date,9,2), Date;

 * sqlite:///my_data1.db
Done.

[('May', 'F9 FT B1032.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('June', 'F9 FT B1035.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('September', 'F9 B4 B1040.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('August', 'F9 B4 B1039.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('December', 'F9 FT  B1035.2', 'CCAFS SLC-40', 'Success (ground pad)'),
 ('February', 'F9 FT B1031.1', 'KSC LC-39A', 'Success (ground pad)')]

In [87]:
%sql SELECT substr(Date,7,4), substr(Date, 4, 2),"Booster_Version", "Launch_Site", Payload, "PAYLOAD_MASS__KG_", "Mission_Outcome", "Landing_Outcome" FROM SPACEXTBL WHERE substr(Date,7,4)='2015' AND "Landing_Outcome" = 'Failure (drone ship)';

 * sqlite:///my_data1.db
Done.

[]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [110]:
%sql SELECT * FROM SPACEXTBL WHERE Landing_Outcome LIKE 'Success%' AND Date BETWEEN '2010-06-04' AND '2017-03-20' ORDER BY Date DESC;

 * sqlite:///my_data1.db
Done.

[('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2017-01-14', '17:54:00', 'F9 FT B1029.1', 'VAFB SLC-4E', 'Iridium NEXT 1', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Success (drone ship)'),
 ('2016-08-14', '5:26:00', 'F9 FT B1026', 'CCAFS LC-40', 'JCSAT-16', 4600, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('2016-07-18', '4:45:00', 'F9 FT B1025.1', 'CCAFS LC-40', 'SpaceX CRS-9', 2257, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2016-05-27', '21:39:00', 'F9 FT B1023.1', 'CCAFS LC-40', 'Thaicom 8', 3100, 'GTO', 'Thaicom', 'Success', 'Success (drone ship)'),
 ('2016-05-06', '5:21:00', 'F9 FT B1022', 'CCAFS LC-40', 'JCSAT-14', 4696, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('2016-04-08', '20:43:00', 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)'),
 ('2015-12-22', '1:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]

In [112]:
%sql SELECT Landing_Outcome, COUNT(*) AS Outcome_Count FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

In [108]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>